@page
@model FinalProject.Front.Pages.Certificates.CandidateCertificateModel
@{
}
<h1>My Certificates</h1>


<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Issued</th>
			<th>Grade</th>
		</tr>

	</thead>
	<tbody>
		@foreach (var certificate in Model.UserCertificates)
		{
			<tr>
				<td>@certificate.Id</td>
				<td>@certificate.Title</td>
				<td>@certificate.Created</td>
				<td>@certificate.Grade</td>
				<td><a asp-page="./GenerateCertificate" asp-route-certId="@certificate.CertificateId">View or Export</a></td>
			</tr>
		}
	</tbody>
</table>