@page
@model FinalProject.Front.Pages.Certificates.IndexModel
@{
	ViewData["Title"] = "Index";
}

<h1>Certificates</h1>


<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>

		</tr>

</thead>
<tbody>
	@foreach (var certificate in Model.Certificates)
	{
		<tr>
			<td>@certificate.Id</td>
			<td>@certificate.Title</td>
		
				<td>

					<a asp-page="./Details" asp-route-id="@certificate.Id">Details</a>
					@if (User.IsInRole("admin"))
					{
						<a asp-page="./Edit" asp-route-id="@certificate.Id"> | Edit |</a>
						<a asp-page="./Delete" asp-route-id="@certificate.Id">Delete</a>
					}
				</td>
		</tr>
	}
</tbody>
</table>

<div>
	@if (User.IsInRole("admin"))
	{
		<a class="btn btn-primary" asp-page="/Certificates/Create">Create New Certificate</a>
	}
</div>


