@page
@model FinalProject.Front.Pages.Exams.CandidateExamModel
@{
}
<h1>My Exams</h1>


<table class="table">
	<thead>
		<tr>
			<th>Exam ID</th>
			<th>Certificate</th>
			<th>Candidate Score</th>
			<th>Result</th>
			<th>Evaluation Status</th>
		</tr>

	</thead>
	<tbody>
		@foreach (var exam in Model.Exams)
		{
			<tr>
				<td>@exam.Id</td>
				<td>@Model.Certificates.FirstOrDefault(x => x.Id == exam.CertificateId)!.Title</td>
				@if (@exam.CandidateScore < 0)
				{
					<td>-</td>
					<td>-</td>
					<td>-</td>
				}else{
					<td>@exam.CandidateScore</td>
					if (@exam.Result)
					{
						<td>"Passed"</td>
					}
					else
					{
						<td>"Failed"</td>
					}
					if (@exam.Marked)
					{
						if (exam.Evaluation)
						{
							<td>"Approved"</td>
						}
						else
						{
							<td>"Denied"</td>
						}
					}
					else
					{
						<td>Pending</td>
					}
				}

				<td>
					@if (@exam.CandidateScore < 0)
					{
						<a asp-page="./Exam" asp-route-id="@exam.Id">Take Exam</a>
					}
					else
					{
						if (exam.Marked&&exam.Result)
						{
							<a asp-page="/Certificates/CandidateCertificate" asp-route-id="@exam.Id">View Certificate</a>
						}
						else
						{
							<a asp-page="./ExamResults" asp-route-examId="@exam.Id">View Results</a>
						}
					}

				</td>
			</tr>
		}
	</tbody>
</table>