@page
@model FinalProject.Front.Pages.Exams.ExamModel
@{
	ViewData["Title"] = "Exam";
}
<head>
	<style>
		</style>
</head>


<h2>Exam</h2>

@{
	int j =0 ;
}
@foreach(var item in Model.Questions)
{

	
	<table class="table-borderless">
		<tr>
			@{j++;}
			<td class ="fw-bolder">@j ) @item.QuestionText ?</td>
			<br />
		</tr>
		<tr>
			<td>
				<input id="AnswerA" type="radio" name="@item.Id" class="form-check-input" value="A @item.AnswerA"/>A) @item.AnswerA
				<label class="form-check-laber" for="AnswerA"/>
			</td>
		</tr>
		<tr>
			<td>
				<input id="AnswerB" type="radio" name="@item.Id" class="form-check-input" value="B @item.AnswerB" />B) @item.AnswerB
				<label class="form-check-laber" for="AnswerB"/>
			</td>
		</tr>
		<tr>
			<td>
				<input id="AnswerC" type="radio" name="@item.Id" class="form-check-input" value="C @item.AnswerC" />C) @item.AnswerC
				<label class="form-check-laber" for="AnswerC"/>
			</td>
		</tr>
		<tr>
			<td>
				<input id="AnswerD" type="radio" name="@item.Id" class="form-check-input" value="D @item.AnswerD" />D) @item.AnswerD
				<label class="form-check-laber" for="AnswerD"/>
			</td>
		</tr>
		<br />
	</table>

	}

	<hr/>
<button id="button1" type="button" value="Submit" class="btn-success" onclick="getAnswers();">Submit</button>


<script>
	function getAnswers() {
		
		var result = document.getElementsByTagName("input");
		for (i = 0; i < result.length; i++) {
			if (result[i].type == "radio") {
				if (result[i].checked) { 

					var CandidateAnswer = {
						"examId": @ViewData["examId"],
						"questionTemplateId": parseInt(result[i].name),
						"candidateAnswer": result[i].value.charAt(0)
					}
					$.ajax({
						url: 'https://localhost:7193/api/Exam/saveAnswers',
						type: 'POST',
						dataType: 'JSON',
						contentType: 'application/json; charset=utf-8',
						data: JSON.stringify(CandidateAnswer),
						success: function (data) {
							if (i = result.length-1) {
								window.location.href = `/Exams/ExamResults?examId=@ViewData["examId"]`;
							}
						},
						error: function (data) {
							alert("Answers could not be saved.");
						}

					});
				}
			}
		}

	}

</script>

