@page
@model FinalProject.Front.Pages.Markers.IndexModel
@{
	ViewData["Title"] = "Index";
}

<h1>Markers</h1>


<table class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Candidate Number</th>
			<th>Email</th>
			<th>Address</th>
			<th>Phone</th>
			<th>Birthdate</th>
		</tr>

</thead>
<tbody>
	@foreach (var marker in Model.Markers)
	{
		<tr>
				<td>@marker.FirstName</td>
				<td>@marker.LastName</td>
				<td>@marker.Number</td>
				<td>@marker.Email</td>
				<td>@marker.Address</td>
				<td>@marker.Phone</td>
				<td>@marker.BirthDate</td>
			<td>
				
					<a asp-page="./Details" asp-route-id="@marker.Id">Details</a>
				@if (User.IsInRole("admin")){
						<a asp-page="./Edit" asp-route-id="@marker.Id"> | Edit |</a>
						<a asp-page="./Delete" asp-route-id="@marker.Id">Delete</a>
				}
			</td>
		</tr>
	}
</tbody>
</table>
@if (User.IsInRole("admin"))
{
	<div>
		<a class="btn btn-primary" asp-page="/Markers/Create">Create New Marker</a>
	</div>
}

